# udev rules file for vasco
# $Id$
#

# All Vasco devices
# Comment out if you are looking for product id rules
# and uncomment the next rule
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="a5a5", MODE="660", GROUP="vasco"

# Vasco device with product ID #1
#SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="a5a5", ATTR{idProduct}=="0001", MODE="660", GROUP="vasco"
